* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #343131;
  --free-text-font: "Poppins", sans-serif;
  --title-font: "Prata", serif;
}

.content--container {
  margin: 5rem;
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

.content--CV,
.content--input {
  background-color: #ffffff;
  position: relative;
  min-width: 850px;
  min-height: 90vh;
  border: 1px solid black;
}

.content--title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ca6d18;
  font-family: var(--title-font);
}
.content--title-container h1 {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 40px;
  color: #222222;
}

header {
  height: 220px;
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

.header--list li {
  padding-bottom: 8px;
  font-family: var(--title-font);
  font-size: 15px;
}

.header--left,
.header--right {
  position: relative;
}

.header--shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.header--shape-divider svg {
  display: block;
  width: calc(275% + 1.3px);
  height: 330px;
}

.header--shape-divider .shape-fill {
  fill: #fbf2e4;
}

main {
  margin-top: 1.2rem;
  display: grid;
  grid-template: 1fr 1fr / auto auto;
  justify-content: space-between;
  padding: 45px;
}

.title {
  color: #ca6d18;
  font-size: 25px;
  line-height: 20px;
  margin-bottom: 2rem;
}

.name {
  font-family: var(--title-font);
}

.text-box-container {
  width: 310px;
}

.work-title,
.education-title {
  font-size: 20px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 0.3rem;
}

.sub-title {
  font-size: 15px;
  line-height: 16px;
  color: #797979;
  margin-bottom: 1rem;
}

.work-title,
.sub-title,
.title,
.education-title {
  font-family: var(--title-font);
  font-weight: 400;
}

.free-text {
  margin-bottom: 2rem;
  font-size: 13px;
  line-height: 14px;
}

/* Personal input styles */

.personal-input {
  padding: 45px;
}

.personal-input--form {
  display: grid;
  grid-template: 1fr 1fr / auto auto;
  gap: 1rem;
  justify-items: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  font-family: var(--free-text-font);
  margin-bottom: 5px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  width: 350px;
}

.personal-input--form button {
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 100px;
  cursor: pointer;
  width: 500px;
  grid-column: 1 / span 2;
  font-family: var(--free-text-font);
}

/* misc */
.rounded {
  margin-top: 2rem;
  border-top: 8px solid #bbb;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Work input styles */

.work-input {
  padding: 0 45px 45px 45px;
}

.work-input--form {
  display: grid;
  grid-template: 1fr 1fr / auto auto;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button.add,
button.delete,
button.reset,
button.generate-pdf {
  font-weight: 600;
  padding: 4px;
  font-family: var(--free-text-font);
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

button.add,
button.reset,
button.generate-pdf {
  font-size: 17px;
  width: 100%;
}

button.delete {
  grid-column: 1 / span 2;
  font-size: 13px;
}

button.reset {
  margin-top: 1rem;
  background-color: salmon;
  color: whitesmoke;
}

button.generate-pdf {
  margin-top: 1rem;
  background-color: rgb(8, 120, 194);
  color: whitesmoke;
}

button.add:hover,
button.delete:hover,
button.reset:hover,
button.generate-pdf:hover {
  filter: opacity(55%);
}

.skills-input--form > button.delete {
  width: 100%;
}

input[type="date"] {
  font-family: var(--free-text-font);
  margin-bottom: 5px;
  height: 30px;
  text-indent: 5px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  width: 350px;
}

textarea {
  font-family: var(--free-text-font);
  text-indent: 5px;
  border: 1px solid #444;
  border-radius: 5px;
  min-width: 100%;
  min-height: 60px;
  resize: none;
  grid-column: 1 / span 2;
}

/* Education input styles */

.education-input {
  padding: 0 45px 45px 45px;
}

.education-input--form {
  display: grid;
  grid-template: 1fr 1fr / auto auto;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Skills input styles */

.skills-input {
  padding: 0 45px 45px 45px;
}

.skills-input--form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.skills-container {
  grid-column: 1 / span 2;
}

.skills-container > ul,
.free-text {
  font-family: var(--free-text-font);
  font-weight: 400;
  color: #222222;
}

.skills-container > ul {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

form {
  margin-bottom: 2rem;
}
/* Media queries */

@media only screen and (max-width: 1000px) {
  .content--container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
}
